/* portlet in the left menu */
#menu-container .luban-portlet-body {
    background-color: transparent;
    border: none;
}

/* grid demo */
#demo-container .luban-grid [luban-element-type='gridcell'] {
    border: 1px solid gray;
    padding: 0.5em 1em;
    margin: 0.5em;
}
