body {
    background: -moz-linear-gradient(
	left top,
	#333 25%,
	#777 80%
    );
    background: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0.25, #333),
	color-stop(0.83, #777)
    );
    min-height: 40em;
}

/* left */
#menu-container {
    padding: 1em;
}

/* right */
#demo-container {
    background-color: transparent;
    color: white;
    border: none;
}

/* portlet in the left menu */
#menu-container .luban-portlet-body {
    background-color: transparent;
    border: none;
}

/* title on the right */
#demo-container > div > div > .luban-document-title-text{
    font-style: italic;
    border-bottom: 1px solid;
}


/* grid demo */
#demo-container .luban-grid [luban-element-type='gridcell'] {
    border: 1px solid gray;
    padding: 0.5em 1em;
    margin: 0.5em;
}
