
#no-javascript-banner {
    background: -moz-linear-gradient(
	left top,
	#ddd 25%,
	#fff 80%
    );
    background: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0.25, #ddd),
	color-stop(0.83, #fff)
    );
}

body {
    background-color: #777;
    background: -moz-linear-gradient(
	center top,
	#333 25%,
	#777 80%
    );
    background: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.25, #333),
	color-stop(0.83, #777)
    );
    min-height: 40em;
}

/* left */
#menu-container {
    padding: 1em;
}

/* right */
#demo-container {
    background-color: transparent;
    color: white;
    border: none;
}


/* logging */
.log .luban-document-body {
    max-height: 15em;
    min-height: 12em;
    overflow-y: scroll;
}


/* portlet in the left menu */
#menu-container .luban-portlet-body {
    background-color: transparent;
    border: none;
}

/* title on the right */
#demo-container > div > div > .luban-document-title-text{
    font-style: italic;
    border-bottom: 1px solid;
}


/* grid demo */
#demo-container .luban-grid [luban-element-type='gridcell'] {
    border: 1px solid gray;
    padding: 0.5em 1em;
    margin: 0.5em;
}




/* anchor demo */
.white-bg {
    background-color: white;
}

#anchor-demo-container {
    padding: 2em;
}